# Ignore input.txt file
**/input.txt

# Ignore settings.py file in the utils directory
**/utils/settings.py

# Ignore postgresdata.py file in the utils directory
**/utils/postgresdata.py

# Ignore dbconnect.py file in the utils directory
**/utils/dbconnect.py